<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>MT Rec - Détail de la candidature de PRENOM_NOM_CANDIDAT</title>
    <link rel="stylesheet" href="/stylesheets/accueil.css" />
    <!--
    <link rel='stylesheet' href='/stylesheets/connexion.css'>
    <link rel='stylesheet' href='/stylesheets/formulaires.css'>
    <link rel='stylesheet' href='/stylesheets/general.css'>
    -->
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="/recruteur/accueilRecruteur"
            ><img src="/images/mt-logo.png" alt="Accueil" class="logo"
          /></a>
        </div>

        <nav>
          <a href="/recruteur/gestionOffresRecruteur/"
            >Gérer vos offres d'emploi</a
          >
          <a href="/recruteur/gestionFichesDePoste"
            >Gérer vos fiches de postes</a
          >
          <a href="/recruteur/demandeRejoindreOrg"
            >Rejoindre une organisation</a
          >
          <a href="/recruteur/monCompteRecruteur">Mon compte</a>
          <a href="/connexion/disconnectUser" class="deconnexion"
            >Deconnexion</a
          >
        </nav>
      </div>
      <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    </header>

    <main class="content">
      <div>
        <div class="disposition_verticale">
          <div class="tableau">
            <div class="titre-tableau">
              <p>Détail de la candidature de <%= candidature.idApplicant %></p>
            </div>

            <table border="1">
              <thead>
                <th>ID Offre D'emploi</th>
                <th>ID Candidat</th>
                <th>Date Candidature</th>
                <th>Statut Candidature</th>
                <th>Actions</th>
              </thead>

              <tbody>
                <td><%= candidature.idJobOffer %></td>
                <td><%= candidature.idApplicant %></td>
                <td>
                  <%= candidature.applicationDate.toLocaleDateString('fr-FR') %>
                </td>
                <td><%= candidature.statut_candidature %></td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="logo">
          <img src="/images/mt-logo.png" alt="Logo" class="logo" />
        </div>

        <div class="disposition_verticale">
          <div class="disposition_horizontale">
            <a href="#">A propos de nous</a>
            <a href="#">Nous contacter</a>
          </div>

          <div class="copyright">
            <p>Copyright - MT Rec 2024©</p>
          </div>
        </div>
      </div>
      <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    </footer>
  </body>
</html>
