<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
     
    <title>MT Rec - Gestion des fiches de postes de l'organisation ORGANISATION_NAME </title>
    <link rel="stylesheet" href="/stylesheets/accueil.css">
    <link rel="stylesheet" href="/stylesheets/formulaires.css">
    
    <!--
    <link rel="stylesheet" href="/stylesheets/connexion.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    -->
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <a href="/recruteur/accueilRecruteur"><img src="/images/mt-logo.png" alt="Accueil" class="logo"></a>
            </div>
        
            <nav>
                <a href="/recruteur/gestionOffresRecruteur/">Gérer vos offres d'emploi</a>
                <a href="/recruteur/gestionFichesDePoste">Gérer vos fiches de postes</a>
                <a href="/recruteur/demandeRejoindreOrg">Rejoindre une organisation</a>
                <a href="/recruteur/monCompteRecruteur">Mon compte</a>
                <a href="/connexion/disconnectUser" class="deconnexion">Deconnexion</a>
            </nav>
        </div>
        <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    </header>

    <main class="content">
        <div>
            <div>
                <button class="btn btn-outline btn-warning" onclick="redirectTo('/recruteur/creationFicheDePoste')"> Créer fiche de poste </button>
            </div>

            <div id="updateFicheDePosteFormDiv" class="formulaire" style="display: none;">

                <div class="titre-formulaire">
                    <h3>Mise a jour d'une fiche de poste</h3>
                </div>

                <form id="updateJobDescriptionForm" action="/recruteur/gestionFichesDePoste/" method="PUT">
                    <label for="intitule">Intitulé : </label>
                    <input type="text" id="intitule_update" name="intitule_update" required>
    
                    <label for="statut_poste">Statut du poste : </label>
                    <input type="text"  id="statut_poste_update" name="statut_poste_update" required>
            
                    <label for="resp_hierarch">Responsable hiérarchique : </label>
                    <input type="text"  id="resp_hierarch_update" name="resp_hierarch_update" required>
    
                    <label for="type_metier">Type de métier : </label>
                    <input type="text"  id="type_metier_update" name="type_metier_update" required>
    
                    <label for="lieu_mission">Lieu mission : </label>
                    <input type="text"  id="lieu_mission_update" name="lieu_mission_update" required>
    
                    <label for="rythme">Rythme : </label>
                    <input type="text"  id="rythme_update" name="rythme_update" required>
    
                    <label for="salaire">Salaire (brut) : </label>
                    <input type="text"  id="salaire_update" name="salaire_update" required>
    
                    <label for="description">Description : </label>
                    <input type="text"  id="description_update" name="description_update" required>
                    
                    <input id="submit" type="submit" name="submit" value="Soumettre">
                    <input id="reset" type="reset" name="reset" onclick="hideUpdateForm()" value="Annuler">
                </form> 

            </div>

        <% if(fichesDePoste.length > 0) { %>
            <div class="tableau">
                <div class="titre-tableau">
                    <h3> <%= title %> </h3>
                </div>

                <table border>

                    <thead>
                        <tr>
                            <th>Intitulé de poste</th>
                            <th>Organisation</th>
                            <th>Satut du poste</th>
                            <th>Responsable hiérarchique</th>
                            <th>Type Métier</th> 
                            <th>Lieu de la mission</th>
                            <th>Rythme</th>
                            <th>Fourchette salariale</th> 
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% fichesDePoste.forEach((jobDescr)=> { %>
                            <tr>
                                <td>
                                    <%= jobDescr.intitule %>
                                </td>
                                <td>
                                    <%= jobDescr.id_organisation %>
                                </td>
                                <td>
                                    <%= jobDescr.statut_poste %>
                                </td>
                                <td>
                                    <%= jobDescr.resp_hierarch %>
                                </td>
                                <td>
                                    <%= jobDescr.type_metier %>
                                </td>
                                <td>
                                    <%= jobDescr.lieu_mission%>
                                </td>
                                <td>
                                    <%= jobDescr.rythme %>
                                </td>
                                <td>
                                    <%= jobDescr.salaire %>
                                </td>
                                <td>
                                    <%= jobDescr.description %>
                                </td>
                            
                                <td>
                                    <button class="btn btn-outline btn-warning" onclick="updateFicheDePoste('<%= jobDescr.id_fichedeposte %>', '<%= jobDescr.intitule %>', '<%= jobDescr.id_organisation %>')">Modifier</button>
                                    <button class="btn btn-outline btn-danger" onclick="deleteFicheDePoste('<%= jobDescr.id_fichedeposte %>', '<%= jobDescr.intitule %>', '<%= jobDescr.id_organisation %>')">Supprimer</button>
                                </td>

                            </tr>
                        <% } ) %>
                    </tbody>

                </table>

            </div>
        <% } else { %>
            <div class="message">
                <h3>Vous n'avez pas encore créé de fiche de poste</h3>
                <p>Vous pouvez en créer une en cliquant sur le bouton ci-dessus.</p>
            </div>
        <% } %>

        </div>
    </main>

    <footer>
        <div class="container">
            <div class="logo">
                <img src="/images/mt-logo.png" alt="Logo" class="logo">
            </div>

            <div class="disposition_verticale">
                
                <div class="disposition_horizontale">
                    <a href="#">A propos de nous</a>
                    <a href="#">Nous contacter</a>
                </div>

                <div class="copyright">
                    <p>Copyright - MT Rec 2024©</p>
                </div>

            </div>
            
        </div>
        <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    
    </footer>

</body>

<script> 
    function redirectTo(route) {
            window.location.href = route;
        }

        function hideUpdateForm() {
            document.getElementById("updateFicheDePosteFormDiv").style.display = 'none';
        }

        function updateFicheDePoste(id_fichedeposte, intitule, id_organisation) {
            const url = `/recruteur/gestionFichesDePoste/ficheDePoste?id_fichedeposte=${encodeURIComponent(id_fichedeposte)}&intitule=${encodeURIComponent(intitule)}&id_organisation=${encodeURIComponent(id_organisation)}`;
            
            var formData0 = {
                id_fichedeposte : id_fichedeposte,
                intitule : intitule,
                id_organisation : id_organisation,
            };

            fetch("/recruteur/gestionFichesDePoste/ficheDePoste", {
                method: "POST",
                headers: {
                    "content-Type": "application/json"
                },
                body: JSON.stringify(formData0)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.status === 'success') {
                    var old_id_fichedeposte = data.ficheDePoste.id_fichedeposte ;
                    var old_intitule = data.ficheDePoste.intitule ;
                    var old_id_organisation = data.ficheDePoste.id_organisation ;
                    var old_statut_poste = data.ficheDePoste.statut_poste ;
                    var old_resp_hierarch = data.ficheDePoste.resp_hierarch ;
                    var old_type_metier = data.ficheDePoste.type_metier ;
                    var old_lieu_mission = data.ficheDePoste.lieu_mission ;
                    var old_rythme = data.ficheDePoste.rythme ;
                    var old_salaire = data.ficheDePoste.salaire ;
                    var old_description = data.ficheDePoste.description;

                    document.getElementById("intitule_update").value = old_intitule ;
                    document.getElementById("statut_poste_update").value = old_statut_poste ;
                    document.getElementById("resp_hierarch_update").value = old_resp_hierarch ;
                    document.getElementById("type_metier_update").value = old_type_metier ;
                    document.getElementById("lieu_mission_update").value = old_lieu_mission ;
                    document.getElementById("rythme_update").value = old_rythme ;
                    document.getElementById("salaire_update").value = old_salaire ;
                    document.getElementById("description_update").value = old_description ;
                    
                    // Afficher le formulaire de mise a jour
                    document.getElementById("updateFicheDePosteFormDiv").style.display = 'block';

                    // Récupérer les nouvelles valeurs du formulaire et les envoyer quand le recruteur valide
                    document.getElementById("updateJobDescriptionForm").addEventListener('submit', (event) => {
                        event.preventDefault(); // empecher la soumission normale du formulaire
                    
                        var formData = {
                            id_fichedeposte : old_id_fichedeposte,
                            intitule : document.getElementById("intitule_update").value,
                            id_organisation : old_id_organisation,
                            statut_poste : document.getElementById("statut_poste_update").value,
                            resp_hierarch :document.getElementById("resp_hierarch_update").value,
                            type_metier : document.getElementById("type_metier_update").value,
                            lieu_mission : document.getElementById("lieu_mission_update").value,
                            rythme : document.getElementById("rythme_update").value,
                            salaire : document.getElementById("salaire_update").value,
                            description : document.getElementById("description_update").value,
                        };

                        // Envoyer les donnees du formulaires lorsque l'utilisteur soumet le formulaire
                        fetch("/recruteur/gestionFichesDePoste/updateFicheDePoste", {
                            method: "PUT",
                            headers: {
                                "content-Type": "application/json"
                            },
                            body: JSON.stringify(formData),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);

                            if(data.status === 'success') {
                                alert ("Fiche de poste mise a jour !");
                                //alert(data.message);

                                // Cacher le formulaire de mise a jour
                                document.getElementById("updateFicheDePosteFormDiv").style.display = 'block';

                                // Recharger la page pour refléter la modification
                                window.location.reload();
                            } else {
                                alert("Echec de la mise a jour de la fiche de poste !");
                                // alert(data.error);
                                // window.location.reload();
                            }
                        })
                        .catch((error) => {
                            console.log(error);

                            alert("Erreur survenue lors de mise a  de la fiche de poste !");
                            // window.location.reload();
                        })
                    });

                } else {
                    alert("Erreur survenue lors de la lecture de la fiche de poste !");
                    //alert(data.error);
                    // window.location.reload();
                }
            })
            .catch((error) => {
                console.log(error);

                alert("Erreur survenue lors de  la mise recuperation de la fiche de poste !");
                // window.location.reload();
            })  
        }


    function deleteFicheDePoste(id_fichedeposte, intitule, id_organisation) {
        if (confirm("Êtes-vous sûr de vouloir supprimer cette fiche de poste ?")) {
            var formData = {
                id_fichedeposte : id_fichedeposte,
                intitule : intitule,
                id_organisation : id_organisation,
            };

            fetch("", {
                method: "DELETE",
                headers: {
                    "content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                if(data.status === 'success') {
                    alert("Fiche de poste supprimee !")
                    //alert(data.message);
                    window.location.reload();
                } else {
                    alert("Echec de la suppression de la fiche de poste !");
                    // alert(data.error);
                    // window.location.reload();
                }
            })
            .catch((error) => {
                console.log(error);

                alert("Erreur survenue lors de la suppression de la fiche de poste");
                // window.location.reload();
            })
        }
    }
    
</script>

</html>

